Repository opentibiabr/myaac, pull requests merged in 2023-11, with the labels that each got.

#37 fix: background size
  templates/tibiacom/index.php
Labels: Area: Templates

#39 fix: rank margin top
  templates/tibiacom/boxes/rank.php
Labels: Area: Templates

#40 fix: server save countdown
  config.php
  templates/tibiacom/boxes/serversave.php
Labels: Area: Templates

#38 fix: boosted boss looktypeEx
  templates/tibiacom/index.php
Labels: Area: Templates

#43 fix: removed date_default_timezone_set already set on init.php
  config.php
  templates/tibiacom/boxes/serversave.php
Labels: Area: Templates

#44 feat: show email and password in welcome mail
  config.php
  system/pages/createaccount.php
  system/templates/account.welcome_mail.html.twig
Labels: Area: System

#45 revert: "fix: rank margin top"
  templates/tibiacom/boxes/rank.php
Labels: Area: Templates

#48 improve: server info page
  config.php
  system/functions.php
  system/init.php
  system/pages/serverinfo.php
  system/templates/serverinfo.html.twig
  templates/tibiacom/boxes/serversave.php
Labels: Area: System, Area: Templates

#47 fix: invite character guild option from the same account
  system/templates/guilds.view.html.twig
Labels: Area: System

#42 feat: rules and team templates
  system/pages/serverinfo.php
  system/templates/rules.html.twig
  system/templates/team.html.twig
Labels: Area: System

#49 feat: vip or premium add days
  admin/pages/fixvippremiumnewsystem.php
  admin/pages/premiumvipupdater.php
  admin/template/template.php
Labels: Area: Admin

#51 fix: menu modifiers
  admin/pages/modifiers.php
Labels: Area: Admin

#50 improve: dashboard boxes
  admin/pages/modules/templates/coins.html.twig
  admin/pages/modules/templates/coinstransferable.html.twig
  admin/pages/modules/templates/lastlogin.html.twig
  system/templates/admin.dashboard.html.twig
  system/templates/admin.statistics.html.twig
Labels: Area: Admin, Area: System
